<div class="main-container">
  <div class="title-content-header">
    <span [innerHTML]="'TITLE_HEADER' | translate"></span>
  </div>
  <div class="saving-goal-container">
    <div class="header-info">
      <mat-icon class="house-icon" aria-hidden="false" [svgIcon]="'house'"></mat-icon>
      <div class="label-info-right">
        <div class="buy-house">{{ 'BUY_A_HOUSE' | translate }}</div>
        <div class="saving-goal-label">{{ 'SAVING_GOAL' | translate }}</div>
      </div>
    </div>
    <div class="input-content mt-24px">
      <div class="total-amount">
        <div class="amount-label">{{ 'TOTAL_AMOUNT' | translate }}</div>
        <mat-form-field appearance="outline" class="custom-form-field">
          <span matPrefix>
            <mat-icon class="dollar-icon" aria-hidden="false" [svgIcon]="'dollar'"></mat-icon>
          </span>
          <input
            matInput
            type="text"
            class="input-amount"
            mask="separator.2"
            thousandSeparator=","
            separatorLimit="9999999999999"
            [(ngModel)]="amount"
            (ngModelChange)="setDataMonthly()" />
        </mat-form-field>
      </div>
      <div class="reach-goal">
        <div class="amount-label">{{ 'REACH_GOAL_BY' | translate }}</div>
        <div
          class="reach-date-input"
          tabindex="1"
          (keydown.ArrowLeft)="onChangeMonth('previous')"
          (keydown.ArrowRight)="onChangeMonth('next')">
          <mat-icon
            class="change-month-icon ml-12px"
            (click)="onChangeMonth('previous')"
            [ngClass]="totalMonth <= 1 ? 'disable-change-month' : ''">
            keyboard_arrow_left
          </mat-icon>
          <div class="text-center">
            <div class="month">{{ reachDate | date : 'MMMM' }}</div>
            <div class="year">{{ reachDate.getFullYear() }}</div>
          </div>
          <mat-icon class="change-month-icon mr-12px" (click)="onChangeMonth('next')"> keyboard_arrow_right </mat-icon>
        </div>
      </div>
    </div>
    <div class="monthly-amount mt-24px">
      <div class="amount-top">
        <div class="monthly-amount-label fs-20px">{{ 'MONTHLY_AMOUNT' | translate }}</div>
        <div class="amount-data">{{ monthlyAmount }}</div>
      </div>
      <div
        class="description-bottom"
        [innerHTML]="
          'DESCRIPTION_BOTTOM'
            | translate
              : {
                  totalMonth,
                  amount: amount | mask : 'separator' : ',',
                  reachDate: reachDate | date : 'MMMM y'
                }
        "></div>
    </div>
    <div class="confirm-btn-footer mt-32px">
      <button class="confirm-btn" (click)="onConfirm()">{{ 'CONFIRM' | translate }}</button>
    </div>
  </div>
</div>
